/* .div1{ */
    /* background-color: aqua;
    position: absolute;
    width: 12em; */
/* } */
/* .div2{
    background-color: blue;
    position: absolute;
    margin-left: 15.86em;
    width: 11em;
} */
/* .div3{
    background-color: green;
    position: absolute;
    margin-left: 15.86em;
    margin-top: 3.16em;
    width: 11em;
} */